.show-fab {
  transform: translateY(0px) scaleY(1);
  visibility: visible;
}

.container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.btn:hover.btn:hover.btn:hover {
  background-color: green;
  cursor: pointer;
}

.btn:hover {
  background-color: blue;
  cursor: pointer;
}

ul {
  padding: 0;
  transform: translateY(40px) scaleY(0);
  transition: transform .2s;
  transition-delay: 0.05s;
}

ul li {
  list-style: none;
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li button {
  border-radius: 50%;
  height: 30px;
}

ul li:first-child::before {
  content: "Hello, world";
  position: absolute;
  right: 40px;
  white-space: nowrap;
  padding: 4px;
  border: 1px solid black;
}

ul li:nth-child(2)::before {
  content: "Hello, world my name is ...";
  position: absolute;
  right: 40px;
  white-space: nowrap;
  padding: 4px;
  border: 1px solid black;
}

ul li:last-child::before {
  content: "Another sentence";
  position: absolute;
  right: 40px;
  white-space: nowrap;
  padding: 4px;
  border: 1px solid black;
}

ul li button:hover {
  cursor: pointer;
}

ul li:last-child {
  margin-bottom: 30px;
}


